@using pojisteni_FULL.Models.ViewModels;
@model InsuredPersonViewModel

@{
	ViewData["Title"] = "Vytvoření";
}

<div class="col">
	<div class="my-3 p-4 bg-light rounded">
		<h1 class="display-6">@ViewData["Title"]</h1>
		<div class="col-6 bg-default text-succes text-left">
			«
			nového pojištěnce
			»</>
		</div>
	</div>
</div>

<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="Create">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="InsuredPersonItem.FirstName" class="control-label"></label>
				<input asp-for="InsuredPersonItem.FirstName" class="form-control" />
				<span asp-validation-for="InsuredPersonItem.FirstName" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="InsuredPersonItem.LastName" class="control-label"></label>
				<input asp-for="InsuredPersonItem.LastName" class="form-control" />
				<span asp-validation-for="InsuredPersonItem.LastName" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="InsuredPersonItem.Email" class="control-label"></label>
				<input asp-for="InsuredPersonItem.Email" class="form-control" />
				<span asp-validation-for="InsuredPersonItem.Email" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="InsuredPersonItem.PhoneNumber" class="control-label"></label>
				<input asp-for="InsuredPersonItem.PhoneNumber" class="form-control" />
				<span asp-validation-for="InsuredPersonItem.PhoneNumber" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="InsuredPersonItem.StreetAndNumber" class="control-label"></label>
				<input asp-for="InsuredPersonItem.StreetAndNumber" class="form-control" />
				<span asp-validation-for="InsuredPersonItem.StreetAndNumber" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="InsuredPersonItem.City" class="control-label"></label>
				<input asp-for="InsuredPersonItem.City" class="form-control" />
				<span asp-validation-for="InsuredPersonItem.City" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="InsuredPersonItem.ZipCode" class="control-label"></label>
				<input asp-for="InsuredPersonItem.ZipCode" class="form-control" />
				<span asp-validation-for="InsuredPersonItem.ZipCode" class="text-danger"></span>
			</div>
			<div class="form-group py-2">
				<input type="submit" value="Uložit nového pojištěnce" class="btn btn-success" />
				<a class="btn btn-primary" asp-action="Index">Zpět na seznam</a>
			</div>
		</form>
	</div>
</div>


