@using pojisteni_FULL.Models.ViewModels;
@model InsuredPersonViewModel

@{
	ViewData["Title"] = "Úprava";
}

<h1>@ViewData["Title"]</h1>

<p>
	« 
	pojištěnce
	@Html.DisplayFor(model => model.InsuredPersonItem.FirstName)
	@Html.DisplayFor(model => model.InsuredPersonItem.LastName)
	 »</>
</p>
<hr />

<div class="row">
	<div class="col-md-4">
		<form asp-action="Edit">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input type="hidden" asp-for="InsuredPersonItem.InsuredPersonID" />
			<div class="form-group">
				<label asp-for="InsuredPersonItem.FirstName" class="control-label"></label>
				<input asp-for="InsuredPersonItem.FirstName" class="form-control" />
				<span asp-validation-for="InsuredPersonItem.FirstName" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="InsuredPersonItem.LastName" class="control-label"></label>
				<input asp-for="InsuredPersonItem.LastName" class="form-control" />
				<span asp-validation-for="InsuredPersonItem.LastName" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="InsuredPersonItem.Email" class="control-label"></label>
				<input asp-for="InsuredPersonItem.Email" class="form-control" />
				<span asp-validation-for="InsuredPersonItem.Email" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="InsuredPersonItem.PhoneNumber" class="control-label"></label>
				<input asp-for="InsuredPersonItem.PhoneNumber" class="form-control" />
				<span asp-validation-for="InsuredPersonItem.PhoneNumber" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="InsuredPersonItem.StreetAndNumber" class="control-label"></label>
				<input asp-for="InsuredPersonItem.StreetAndNumber" class="form-control" />
				<span asp-validation-for="InsuredPersonItem.StreetAndNumber" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="InsuredPersonItem.City" class="control-label"></label>
				<input asp-for="InsuredPersonItem.City" class="form-control" />
				<span asp-validation-for="InsuredPersonItem.City" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="InsuredPersonItem.ZipCode" class="control-label"></label>
				<input asp-for="InsuredPersonItem.ZipCode" class="form-control" />
				<span asp-validation-for="InsuredPersonItem.ZipCode" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input type="submit" value="Uložit" class="btn btn-success" />
				<a class="btn btn-primary" onclick="javascript:history.back();">Zpět</a>
				@*<a class="btn btn-primary" asp-action="Details" asp-route-id="@Model.Id">Zpět na pojištěnce</a>*@
				
			</div>
		</form>
	</div>
</div>


