@{
	ViewData["Title"] = "Události";
}

<div class="col">
	<div class="row">
			<div class="col-12 p-4 bg-light rounded border">
		<h1 class="display-6">@ViewData["Title"]</h1>
		<div class="text-left"> « zde budou evidovány pojistné události »</>
			</div>
	</div>
	</div>
</div>
