@{
    ViewData["Title"] = "Události";
}

<div class="col">
	<div class="my-3 p-4 bg-light rounded">
		<h1 class="display-6">@ViewData["Title"]</h1>
		<div class="col-6 bg-default text-succes text-left">
			«
			zde budou evidovány pojistné události
			»</>
		</div>
	</div>
</div>
