@{
	ViewData["Title"] = "aplikace Pojištění";
}

<div class="col">
	<div class="my-3 p-4 bg-light rounded">
		<h1 class="display-4">@ViewData["Title"]</h1>
		<div class="col-6 bg-default text-succes text-left">
			<p>« správa pojištěnců a pojištění »</></p>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-6">
		<div class="my-3 p-4 bg-light rounded">
			<h2 class="display-6">Pojištěnci</h2>
			<p>Přehled a správa pojištěnců</p>
			<p><a class="btn btn-default btn-outline-primary" asp-area="" asp-controller="InsuredPersons" asp-action="Index">Pojištěnci &raquo;</a></p>
		</div>
	</div>
	<div class="col-md-6">
		<div class="my-3 p-4 bg-light rounded">
			<h2 class="display-6">Pojištění</h2>
			<p>Přehled a správa pojištění</p>
			<p><a class="btn btn-default btn-outline-secondary" asp-area="" asp-controller="Insurances" asp-action="Index">Pojištění &raquo;</a></p>
		</div>
	</div>
</div>
