@{
    ViewData["Title"] = "Úvodní stránka";
}

<h1>@ViewData["Title"]</h1>

<p>zatím nevím, co zde na úvodní stráce umístit</p>
<ul">
    zapisuji nápady:
    <li>
        <a>úvod ???</a>
    </li>
    <li>
        <a>možná nic, jen nějaké logo</a>
    </li>
 
</ul>