html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}


/*body {
    height: 100vh;*/ /* Nastavuje výšku tìla na 100% výšky viewportu */
    /*margin: 0;*/ /* Odstraní odsazení okrajù tìla */
    /*margin-bottom: 60px;
}*/



body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main {
    flex-grow: 1;
}

footer {
    flex-shrink: 0;
    margin-top: auto;
    height: 40px; /* nastavte výšku patièky podle potøeby */
}
.nav-item:hover{
    background-color: lightgray;
    border-radius: 5px;
    color: white
    
}

.btn-default:hover {
    background-color: lightgray;
    border-radius: 5px;
    color: white
}